 
{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}
 <style>
    .imgProduct{
        width: 100%;
        height: 100%;
    }
    .iconProduct{
        width: 100%;
        height: 100%;
    }
    .btnVote{
        position: relative;
        left: 10%;
        display: block;
        margin: 10%;
        padding: 10%;
    }
</style>
{% if user.is_authenticated %}
    {% csrf_token %}
    <h1> User Name: {{ user.username }} </h1>
    <h1> User Email: {{ user.email }}</h1>
{% endif %}

 
 <div class="row">
     <div class="col-md-2">
         <img class="iconProduct" src="{{product.icon.url}}" alt = "icon of product"/>
     </div>
     <div class="col-md-6">
        <a href="{{product.url}}"><h1>{{product.title}}</h1></a> 
        
     </div>
 </div>
<hr/>
<div class="row" style="margin-top: 10px;" >
    <div class="col-md-10">
        <img class="imgProduct" src="{{ product.icon.url }}" alt="image of product"/>
    </div>
   
    <div class="col-md-2">
        <a role="button" class="btn btn-primary" href="#">Up Vote</a>
        <h2>up-votes: {{product.votes_total}} </h2> 
        
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>{{product.body}}</p>
    </div>
    
</div>
{% endblock  %}
