{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

<style>
    .imgProduct{
        width: 100%;
        height: 100%;
    }
    .btnVote{
        position: relative;
        left: 10%;
        display: block;
        margin: 10%;
        padding: 10%;
    }
</style>
{% if user.is_authenticated %}
    {% csrf_token %}
    <h1> User Name: {{ user.username }} </h1>
    <h1> User Email: {{ user.email }}</h1>
{% endif %}


{% for product in products %}

<div class="row" style="margin-top: 10px;" >
    <div class="col-md-4">
        <img class="imgProduct" src="{{ product.icon.url }}" alt="">
    </div>
    <div class="col-md-6">
    <h1><a href="{% url 'details' product.id %}">{{product.title}}</a></h1>
    <p>{{product.summary}}</p>
    <h2>up-votes: {{product.votes_total}} </h2> 
    </div>

    <div class="col-md-2">
        <a role="button" class="btn btn-primary btnVote" href="#">Up Vote</a>
    </div>
</div>
{% endfor %}




{% endblock  %}
